div.h1 {
    background-color:#000;
    height:auto;
    border:0.6vh solid;
    color:yellow;
    text-align:center;
    font-style:bold;
    font-size:x-large;
}

div img {
    border:0.6vh solid aquamarine;
    margin:2.25vh;
    height:auto;
    width:45vw;
    float:left;
}

div.p {
    background-color:pink;
    border:0.6vh solid;
    height:auto;
    width:50vw;
    float:right;
    font-size:x-large;
}

div.link {
    background-color:burlywood;
    border:0.6vh solid;
    height:auto;
    width:50vw;
    float:right;
    text-align:center;
    font-style:italic;
    font-size:large;
}

div#wheel {
    border-color:dodgerblue;
}

div#ppress {
    border-color:fuchsia;
}

div#ICE {
    border-color:cyan;
}

div#transistor {
    border-color:crimson;
}

div#internet {
    border-color:chartreuse;
}